<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="tcc.ronaldoyoshio.playingcards">

    <!-- Tell the system this app requires OpenGL ES 2.0. -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.wifi.direct" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".activity.main.MainMenuActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.deck.DeckActivity" />
        <activity android:name=".activity.select.SelectCardsActivity" />
        <activity android:name=".activity.hand.HandActivity" />
        <activity android:name=".activity.config.server.ServerConfigActivity" />
        <activity android:name=".activity.config.client.ClientConfigActivity" />
        <activity android:name=".activity.config.touch.TouchConfigActivity" android:noHistory="true"/>

        <service android:name=".service.GamePlayerService"
                 android:enabled="false"
                 android:process=":remotePlayerService" />
        <service android:name=".service.GameServerService"
                 android:enabled="false"
                 android:process=":remoteServerService" />
    </application>

</manifest>
